* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header_container {
    margin-bottom: 2.8rem;
}

.header_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc {
    max-width: 568px;
    text-align: center;
    color: rgb(76, 68, 68);
    margin: 0 auto;
}

.main_container {
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
    align-items: center;
}

/* @media (min-width:650px) {
    .main_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1080px) {
    .main_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1340px) {
    .main_container {
        grid-template-columns: repeat(4, 1fr);
    }
} */

.card_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(208, 196, 196);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 14rem;
}

#card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
}

.card_title_container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover #card_image {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(47, 41, 41);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title_anchor:hover .card_title {
    color: rgb(83, 83, 212);
}

.card_desc {
    color: rgb(110, 98, 98);
}

.card_footer_container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.author_container {
    display: flex;
    align-items: center;
    /* justify-content: ; */
    gap: 1rem;
}

.author_avatar_container {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(154, 146, 146);
    border-radius: 50%;
    background-color: rgb(200, 187, 187);
}

.author_info_container {
    display: flex;
    flex-direction: column;
}

.author_name {
    color: rgb(94, 94, 239);
}

.author_date {
    color: rgb(132, 121, 121);
    font-size: 0.8rem;
}

.card_tag_container {
    border: 1px solid rgb(88, 79, 79);
    border-radius: 4px;
    color: rgb(110, 99, 99);
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0.3rem 0.5rem;
}