* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card img {
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
    text-align: center;
}


.btn {
    width: 80%;
    height: 10%;
    background-color: rgb(22, 22, 79);
    color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all;
    transition-duration: 0.2s;
    transition-delay: 0ms;
    transition-timing-function: linear;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cancelBox a {
    text-decoration: none;
    color: rgb(46, 43, 43);
    font-weight: bold;
    font-size: large;
}

.cancelBox a:hover {
    color: red;
}

#amountBox {
    width: 80%;
    height: 10%;
    background-color: #58beff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

#leftBox {
    width: fit-content;
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;

}

.imgBox img {
    height: 3.5rem;
    width: 3.5rem;
}