* {
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    left: 0;
}

body {
    background-color: black;
    width: 100%;
    height: 200vh;
    color: white;
}

.container {
    position: sticky;
    top: 14px;
    /* border: 2px solid black; */
}

.navbar {
    /* border: 4px solid black; */
    border: 4px solid white;
    /* background-color: lightblue; */
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 17px 25px;
    padding: 18px 10px;
    border-radius: 56px;
    flex-wrap: wrap;
}

#logo {
    height: 10px;
    width: 10px;
}

.item {
    list-style: none;
}

.links {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.links:hover {
    /* text-decoration: underline; */
    color: red;
    /* background-color: white; */
}

.backvideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.content {
    border: 4px solid white;
    margin: 162px 37px;
    background-color: #86e3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#h1-primary-heading {
    margin-top: 35px;
    color: black;
    text-shadow: 2px 2px red;
    font-size: 50px;
    text-align: center;
}

.para {
    padding: 34px 34px;
    font-weight: bold;
    font-family: 'Bungee Spice', sans-serif;
}

.btn {
    color: white;
    background-color: blue;
    margin: 10px 10px;
    padding: 9px 28px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 3px 3px 8px rgb(76, 53, 245);
}

.btn:hover {
    background-color: rgb(85, 85, 253);
    animation-name: flybtn;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.btn:checked {
    background-color: rgb(85, 85, 253);
}

.btn1 {
    color: white;
    background-color: blue;
    margin: 10px 10px;
    margin-bottom: 35px;
    margin-top: 10px;
    padding: 9px 34px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 3px 3px 8px rgb(76, 53, 245);
}

.btn1:hover {
    background-color: rgb(85, 85, 253);
    animation-name: flybtn;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.btn1 a {
    text-decoration: none;
    color: white;
}

.confirm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes flybtn {
    from {}

    to {
        padding: 12px 35px;
    }
}